body{
    background-color: #ffeedd;
}

#desc{
    color: purple;
}

.post-block{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 30px;
    }  

.post-card{
    border-radius:5px;
    margin:10px 0;
    width: 40%;
    height: 50%;
    margin : 25px 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    background-color:whitesmoke;
    }

.author{
    background-color: white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;  
    color: gray;
    font-size: large;
    padding: 35px 0px ;
    font-weight: bold;
    }

.post-content{
    margin: 5px 10px;
    background-color:whitesmoke;
    }

.post-description{
    overflow: hidden;
    white-space: normal;
    height: 3.6em;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    }

.post-title{
    color: gray;
    font-size: large;
    }

p{
    margin: 10px 10px 0px 10px; 
    vertical-align: middle;
    }

span{
    text-align: end;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 10px;
    cursor: pointer;
    float: right;
    color: darkslategrey;
    }

.delete-modal-content{
    padding: 20px 20px;
    border: 1px solid #888;
    width: 20%; 
    height: 20%;
    background-color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    justify-content: center;
    }

.delete-buttons{
    margin-top: 30px;
    }

#yes{
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background:green;
    color: #fff;
    justify-content: flex-start;
    margin-top: 40px;
    margin-right: 60px;
    }

#no{
    width: 90px;
    padding: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 90%;
    background:red;
    color: #fff;
    margin-top: 40px;
    margin-left: 60px;
    }

#ques{
    margin: 0px 15px;
}